* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
@media (max-width: 430px) {
    nav ul {
        display: block;
    }
}
@media (max-width: 300px) {
    .skills{
        display: block;
    }}
    @media (max-width: 430px) {
        .education-timeline {
            display: block;
        }}
@media (max-width: 430px) {
    .About-Me{
        display: block;
    }
}
.row{
    border-radius: 30px;
    display: flex;
}
p {
    max-width: 400px;
    margin-bottom: 16px;
   
}


@keyframes rainbow-animation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
.rainbow-text {
    font-size: 4rem;
    background: linear-gradient(90deg, 
        rgb(226, 211, 223), rgb(185, 143, 176), rgb(216, 136, 173), rgb(211, 104, 206), rgb(189, 52, 148), indigo, rgb(100, 10, 100));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For WebKit browsers */
    background-clip: text;
    -webkit-text-fill-color:  transparent; /* For Firefox */
}
header {
    background:transparent;
    color: #f7f2f2;
    padding: 10px 0;
    text-align: center;
    font-size: large;
    text-align: center;
    font-size: large;
    
    
}

.container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space between text and image */
    max-width: 1500px; /* Limit the width of the container */
    margin: auto; /* Center the container */
    background: linear-gradient(to bottom, rgb(210, 177, 231), gray); /* Background for the container */
    padding: 120px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 20px; /* Rounded corners */
}

.text {
    flex: 1; /* Take remaining space */
    margin-right: 20px; /* Space between text and image */
    
}

.image img {
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for the image */
}

h1 {
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
   
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
 
}

nav ul li a {
    color: #f5f1f1;
    text-decoration: none;
    font-size: large;
}


main {
    padding: 20px;
    border-radius: 30px;
}

section {
    margin: 20px 0;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: transparent;
    color: #fff;
    border-color: #570653;
}

.logo {
    margin: 10px 0;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: right;
}
.logo span{
    color:rgb(241, 151, 241);
}
.nav-links a:hover {
    color: #ff00b3; /* Change color on hover */
    font-size: 24px;
}


a{
    color: white;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    padding:25px 9%;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size:30px;
    font-weight: 700;
}
.navbar ul{
    display:flex;
}
.navbar ul li {
    list-style:none;
    margin-left:35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a {
    
    color: rgb(226, 33, 184);
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;

}
.home-info h1 {
    font-size: 35px;
    
}
.home-info h2 {
    font-size: 25px;
    margin-top: -10px; 
    
    
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
 
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
    font-size: x-large;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: rgb(95, 39, 48);
    border: 2px solid rgb(221, 58, 85);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(211, 44, 72);
    font-size: px;
    color: rgb(250, 247, 247);
    font-weight: 600;
    transition: 5s;
}

.btn:hover {
    background: transparent;
    color:rgb(221, 47, 183);
    box-shadow: none;

}
.home-info .btn-sci .sci {
    margin-left: 20px;

}
.sci {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(228, 61, 61, 0.2);
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sci a:hover {
    background-color: rgba(49, 3, 3, 0.5);
    transform: scale(1.1);
}

.sci i {
    font-size: 24px;
    color: #8a0404;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 1px solid rgb(211, 44, 72);
    border-radius: 50%;
    font-size: 700px;
    color: rgb(182, 89, 162);
    margin: 0 8px;
    transition: .5s;
}
.home-info .btn-sci .sci a:hover {
    background:rgb(153, 77, 136);
    color:brown;
    box-shadow: 0 0 9px rgb(153, 77, 136);
}
.home-img img{ 
    margin-right: 20px;
    border-radius: 50%;
    position: relative;
}
.img-item{
    align-items: center;
}
.home-img .img-box {
    position: relative;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    padding: 5px; 
    display: flex;
    justify-content: center;   
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,
     transparent, transparent, Pink);
}
.home-img .img-box .img-item{
    position:relative;
    width: 100%;
    height: 100%;
    background:black;
    border-radius: 50%;
    border: .1px solid black;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 90%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #030303;
    padding: 20px;
    color: #f2f7f7;
}

.contact-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;

    max-width: 600px;
    margin: auto;
}
.send{
    background-color: #005d88;
    font-size: large;
}

h2 {
    text-align: left;
}
h2 .about{
        text-align: left;
    
}
.About-Me{
    margin-top: 25px;
    font-size: large;
    margin-bottom: 150px;
}
label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #570653;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.column {
    float: left;
    width: 33.33%;
    background-color:#f5efff;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#education{
background-color:transparent;
margin-bottom: 120px;
}
.education-header{
    color: #570653;
}
button:hover {
    background-color: rgb(58, 49, 49);
}
#portfolio{
    background-color: #e5d9f2;
    }
.contact_sec{
    
    background-color:transparent; 
}
#about{
    border-radius: 30px;
    background: linear-gradient(to bottom, #1c7ff0,#e4e7eb);
}
.download-btn i{
    margin-right: 8px; /*space between icon and text*/

}
.container about-me{
    font-size: 35px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
/*  bar */
* {
    box-sizing: border-box;
}
#skills{
    border-radius: 30px;
}
.skills-container {
    width: 100%;
    background-color: #ddd;
    text-align: center;
}

.skills-row {
    display: flex;
    justify-content: center; /* Center columns within the row */
    margin: 0 auto;        /* Center the row itself */
}

.skills-column {
    background: linear-gradient(to bottom, rgb(250, 187, 250),#646566);
    margin: 50px;          /* Space between columns */
    width: 600px;          /* Fixed width for columns */
    height: 600px;         /* Fixed height for columns */
    border-radius: 30px;
    display: flex;         /* Enable flexbox for inner content */
    flex-direction: column;/* Arrange children vertically */
}

.skills, .tool-sec, .technical-sec {
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}
.s-section{
    
    background: linear-gradient(to bottom, #0796cf,#e4e7eb);
    
}
.skills-header{
    font-size: 65px;
    color: rgb(238, 52, 238);
    margin-bottom: 80px;
    box-sizing: border-box;
  }
  .softskills{
    font-size: 60px;
  }
  .skills-set{
    margin-top: 60px;
    font-size: 20px;
    justify-content: center;
  }
  body {
    background-color:#389ac7;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 50%;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(248, 189, 238);
    border: 4px solid #f13fda;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    margin-left: 0;
  }
  
  /* Place the container to the right */
  .right {
    margin-right: 0;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: rgb(119, 14, 102);
    background-color: transparent;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  .education-header{
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    margin-bottom: 80px;
  }